@model Zuvytes.ViewModels.PaslaugaEditViewModel

@{ var psl_k_count = 0; }


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="form-horizontal">

    <h4>Paslaugos redagvimas</h4>
    <hr />
    <fieldset>
        <legend>Papildomos paslaugos informacija</legend>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.paslauga.id)

        <div class="form-group">
            @Html.LabelFor(model => model.paslauga.pavadinimas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.paslauga.pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.paslauga.pavadinimas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.paslauga.aprasymas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.paslauga.aprasymas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.paslauga.aprasymas, "", new { @class = "text-danger" })
            </div>
        </div>
        @{if (Model.paslaugosKainos != null)
            {
                psl_k_count = Model.paslaugosKainos.Count;
            }
            else
            {
                psl_k_count = 0;
            }
        }
    </fieldset>

    <fieldset>
        <legend>Paslaugos kainos</legend>
        <table class="table-responsive" id="kainos_tbl">
            <thead>
                <tr>
                    <th>Kaina</th>
                    <th>Galioja nuo</th>
                </tr>
            </thead>
            @if (Model.paslaugosKainos != null)
            {
                for (int i = 0; i < Model.paslaugosKainos.Count; i++)
                {
                    @*<div>@Html.Partial("PaslaugosKaina", Model.paslaugosKainos[i])</div>*@

                    if (Model.paslaugosKainos[i].kiekis > 0)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.paslaugosKainos[i].fk_paslauga)
                                @Html.HiddenFor(model => model.paslaugosKainos[i].galiojaIki)
                                @Html.HiddenFor(model => model.paslaugosKainos[i].kiekis)
                                @Html.EditorFor(model => model.paslaugosKainos[i].kaina, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </td>
                            <td>@Html.EditorFor(model => model.paslaugosKainos[i].galiojaNuo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.paslaugosKainos[i].fk_paslauga)
                                @Html.HiddenFor(model => model.paslaugosKainos[i].galiojaIki)
                                @Html.HiddenFor(model => model.paslaugosKainos[i].kiekis)
                                @Html.EditorFor(model => model.paslaugosKainos[i].kaina, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>@Html.EditorFor(model => model.paslaugosKainos[i].galiojaNuo, new { htmlAttributes = new { @class = "form-control date-picker" } })</td>
                            <td><button type="button" class="btn btn-danger" onclick="salinti(this)"><i class="glyphicon-remove"></i> Šalinti</button></td>
                        </tr>
                    }
                }
            }
        </table>
        <input type="hidden" disabled value="@psl_k_count" id="hCount" />
        <button type="button" id="prd" class="btn btn-info" onclick="prideti($('#hCount').val());"><i class="glyphicon-plus-sign"></i> Pridėti</button>
    </fieldset>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" style="margin-top: 5px;" value="Išsaugoti" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Atgal į sąrašą »", "Index", "Paslauga", new { @class="btn btn-default"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function prideti(sk) {
            var tmp_row = `"<tr>
                    <td>
                        <input data-val="true" data-val-number="The field fk_paslauga must be a number." data-val-required="The fk_paslauga field is required." id="paslaugosKainos_`+ sk + `__fk_paslauga" name="paslaugosKainos[` + sk + `].fk_paslauga" type="hidden" value="0">
                        <input data-val="true" data-val-date="The field galiojaIki must be a date." data-val-required="The galiojaIki field is required." id="paslaugosKainos_`+ sk + `__galiojaIki" name="paslaugosKainos[` + sk + `].galiojaIki" type="hidden" value="01/01/0001 00:00:00">
                        <input data-val="true" data-val-number="The field kiekis must be a number." data-val-required="The kiekis field is required." id="paslaugosKainos_`+ sk + `__kiekis" name="paslaugosKainos[` + sk + `].kiekis" type="hidden" value="">
                        <input class="form-control text-box single-line" data-val="true" data-val-number="The field kaina must be a number." data-val-required="The kaina field is required." id="paslaugosKainos_`+ sk + `__kaina" name="paslaugosKainos[` + sk + `].kaina" type="text" value="">
                    </td>
                     <td><input class="form-control text-box single-line valid date-picker" data-val="true" data-val-date="The field galiojaNuo must be a date." data-val-required="The galiojaNuo field is required." id="paslaugosKainos_`+ sk + `__galiojaNuo" name="paslaugosKainos[` + sk + `].galiojaNuo" type="datetime" value="" aria-describedby="paslaugosKainos_` + sk + `__galiojaNuo-error" aria-invalid="false"></td>
                    <td><button type="button" class="btn btn-danger" onclick="salinti(this)"><i class="glyphicon-remove"></i> Šalinti</button></td>
    </tr>"`;

            $("#kainos_tbl tr:last").after(tmp_row);

            $('#hCount').val(Number($('#hCount').val()) + 1);

            $(".date-picker").datepicker({ dateFormat: 'yy-mm-dd' });
        };

        function salinti(btn) {
            $(btn).closest('tr').remove();


            var cnt = 0;

            $("#kainos_tbl tbody tr").each(function () {
                var tmp_row = "<tr>" + $(this).html() + "</tr>";
                var new_tmp_row = tmp_row.replace(/\[(.)\]/g, "[" + cnt + "]");
                new_tmp_row = new_tmp_row.replace(/\_(.)\_/g, "_" + cnt + "_");
                $(this).replaceWith(new_tmp_row);
                cnt = cnt + 1;
            });

            $('#hCount').val(cnt);

        }
    </script>
}