@model Zuvytes.Models.Darbuotojas

@{
    ViewBag.Title = "Naujas darbuotojas";
}

<h2>Naujas darbuotojas</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Darbuotojo informacija</legend>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.tabelis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tabelis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tabelis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vardas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vardas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vardas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pavarde, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pavarde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pavarde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-success" />
            </div>
        </div>
    </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Atgal į sąrašą »", "Index", "Darbuotojas", new { @class="btn btn-default"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
