@model Zuvytes.ViewModels.AutoEditViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Automobilio šalinimas</h2>

<h3>Ar tikrai norite pašalinti šį automobilį?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valstybinisNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valstybinisNr)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (ViewBag.naudojama != null)
        {
            <h5 style="color:red">@ViewBag.naudojama</h5>
        }
        else
        {
            <input type="submit" value="Šalinti" class="btn btn-danger" />
        }
        @Html.ActionLink("Atgal į sąrašą", "Index", "Automobilis", new { @class = "btn btn-default" })
    </div>
    }
</div>
