@page
@model FishAquariumWebApp.Pages.Decorations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Decoration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Decoration.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decoration.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Decoration.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decoration.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Decoration.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decoration.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Decoration.Mass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decoration.Mass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Decoration.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decoration.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Decoration.Material)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decoration.Material)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Decoration.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decoration.Type)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Decoration.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
