@page
@model FishAquariumWebApp.Pages.Fishes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fish.Species)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fish.Species)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fish.Mass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fish.Mass) g
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fish.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fish.Size) mm
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fish.Origin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fish.Origin)
        </dd>
        <dt>
            Arrival Date@*@Html.DisplayNameFor(model => model.Fish.ArrivalDate)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fish.ArrivalDate)
        </dd>
        <dt>
            Life Expectancy@*@Html.DisplayNameFor(model => model.Fish.LifeExpectancy)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fish.LifeExpectancy) h
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fish.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fish.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fish.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fish.Gender)
        </dd>
        <dt>
            Aquarium@*@Html.DisplayNameFor(model => model.Fish.FkAquarium)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fish.FkAquarium)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.Fish.Id">Edit</a> |*@
    @*<a asp-page="./Index">Back to List</a>*@
</div>
