@page
@model FishAquariumWebApp.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Users.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Users.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
