@using System.Web.Mvc.Html
@model FishAquarium.ViewModels2.SutartisAtaskViewModel

@{
    ViewBag.Title = "Sutartys";
}

<h2>Sudarytų sutarčių ataskaita</h2>
<p><b>Parengta:</b> @DateTime.Now</p>

@using (Html.BeginForm())
{
    <div class="form-group">
       <label>Sutartys nuo: </label>
       @*<input class="form-inline date-picker" type="datetime" name="nuo" value="@Model.nuo" />*@
        @Html.EditorFor(model => model.nuo, new { @class="date-picker"})
       <label>Sutartys iki: </label>
       @*<input class="form-inline date-picker" type="datetime" name="iki" value="@Model.iki" />*@
        @Html.EditorFor(model => model.iki, new { @class="date-picker"})
       <input class="btn btn-default" type="submit" value="Atrinkti">
    </div>
}


    <table class="table table-striped">
        <tr style="background-color:lightblue">
            <th>
                @Html.DisplayNameFor(model => model.sutartys[0].nr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sutartys[0].sutartiesData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sutartys[0].kaina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sutartys[0].paslauguKaina)
            </th>
        </tr>

        @if (Model.sutartys.Count == 0)
        {
            <tr>
                <td colspan="4" align="center"><b style="color:red;">Nurodytame laikotarpyje nebuvo sudarytų sutarčių</b></td>
            </tr>
        }

        @for (int i = 0; i < Model.sutartys.Count; i++)
        {
            if (i == 0 || Model.sutartys[i].asmensKodas != Model.sutartys[i-1].asmensKodas)
            {
                <tr style="background-color: lightblue">
                    <td colspan="4" align="center"><b>@Model.sutartys[i].vardas @Model.sutartys[i].pavarde</b></td>
                </tr>
            }
            <tr>
                <td>#@Model.sutartys[i].nr</td>
                <td>@Model.sutartys[i].sutartiesData</td>
                <td>@Model.sutartys[i].kaina</td>
                <td>@Model.sutartys[i].paslauguKaina</td>
            </tr>

            if(i == Model.sutartys.Count-1 || Model.sutartys[i].asmensKodas != Model.sutartys[i + 1].asmensKodas)
            {
                <tr>
                    <td colspan="2"></td>
                    <td><b>@Model.sutartys[i].bendraSuma</b></td>
                    <td><b>@Model.sutartys[i].bendraSumaPaslaug</b></td>
                </tr>
            }

        }

        <tr style="background-color: lightblue">
            <td height="10px;" colspan="4" align="center"><b>Bendra suma</b></td>
        </tr>

        <tr>
            <td colspan="2"></td>
            <td>
                @Html.DisplayFor(modelItem => Model.visoSumaSutartciu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.visoSumaPaslauga)
            </td>
        </tr>
    </table>