@page
@model FishAquariumWebApp.Pages.AquariumUsers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AquariumUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AquariumUser.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AquariumUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AquariumUser.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AquariumUser.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AquariumUser.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AquariumUser.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AquariumUser.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AquariumUser.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AquariumUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AquariumUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AquariumUser.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AquariumUser.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AquariumUser.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AquariumUser.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AquariumUser.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
