@page
@model FishAquariumWebApp.Pages.AquariumUsers.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <h2>Aquarium Users</h2>

<div class="form-group">
    <form asp-page="/AquariumsUsers/Index" method="get" style="text-align: right">
        <label asp-for="filter" class="control-label">Filter level</label>
        <select name="filter">
            <option value="0"></option>
            <option value="1">Active</option>
            <option value="2">Semi-active</option>
            <option value="3">Inactive</option>
        </select>
        <span asp-validation-for="filter" class="text-danger"></span>
        <input type="submit" value="Filter" class="btn btn-default" />
    </form>
</div>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AquariumUsers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquariumUsers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquariumUsers[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquariumUsers[0].RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquariumUsers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquariumUsers[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquariumUsers[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquariumUsers[0].TaskCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AquariumUsers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
