@page
@model FishAquariumWebApp.Pages.ItemParameters.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemParameters[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemParameters[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemParameters[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemParameters[0].FkFish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemParameters[0].FkAquarium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ItemParameters) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkFish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkAquarium)
            </td>
            <td>
                @if (Model.IsUserOrAdmin())
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                }
                @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a>*@
                @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
