@page
@model FishAquariumWebApp.Pages.Aquariums.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <h2>Aquariums</h2>

@if (Model.IsAdmin())
{
    // check if admin
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aquariums[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aquariums[0].Mass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aquariums[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aquariums[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aquariums[0].Heigth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aquariums[0].GlassThickness)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Aquariums)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity) l
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mass) kg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length) cm
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width) cm
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Heigth) cm
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GlassThickness) mm
                </td>
                <td>
                    @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    @if (Model.IsAdmin())
                    {
                        // check if admin
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
