@page
@using FishAquariumWebApp.Models
@model FishAquariumWebApp.Pages.Aquariums.SearchModel

@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>
<h3>Search results for phrase: "@Model.SearchString"</h3>

@if (Model.Aquariums.Count > 0)
{
    <h4>Aquariums</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Aquariums[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aquariums[0].Capacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aquariums[0].Mass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aquariums[0].Length)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aquariums[0].Width)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aquariums[0].Heigth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aquariums[0].GlassThickness)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aquariums[0].FkPortion)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model.Aquariums)
        {

            <tbody>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Width)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Heigth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GlassThickness)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FkPortion)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>

            </tbody>

        }
    </table>
}

@if (Model.Fishes.Count > 0)
{
    <h4>Fishes</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fishes[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fishes[0].Species)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fishes[0].Mass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fishes[0].Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fishes[0].Origin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fishes[0].ArrivalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fishes[0].LifeExpectancy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fishes[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fishes[0].Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fishes[0].FkAquarium)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var fish in Model.Fishes)
        {

            <tbody>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => fish.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fish.Species)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fish.Mass) g
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fish.Size) mm
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fish.Origin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fish.ArrivalDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fish.LifeExpectancy) h
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fish.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fish.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fish.FkAquarium)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@fish.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@fish.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@fish.Id">Delete</a>
                    </td>
                </tr>


            </tbody>
        }
    </table>
}

