@page
@model FishAquariumWebApp.Pages.AquariumTasks.IndexModel

@{
    ViewData["Title"] = "Task";
}

<h2>Tasks</h2>
@if(Model.IsAdmin()) {
<p>
    <a asp-page="Create">Create New</a>
</p>
}

<style>
.myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 12px;
  padding: 1px 1px 2px 2px;
  border: 2px solid #ddd;
}</style>


<table id="tasktable"class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AquariumTasks[0].Name)
                <input type="text" id="myInput0" class="myInput" size="8" onkeyup="myFunction(0,'myInput0')" placeholder="" title="Type in a name">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquariumTasks[0].Duration)
                <input type="text" id="myInput1" class="myInput" size="8" onkeyup="myFunction(1,'myInput1')" placeholder="" title="Type in a name">
            </th>
            <th>
                Start Time
                <input type="text" id="myInput2" class="myInput" size="8" onkeyup="myFunction(2,'myInput2')" placeholder="" title="Type in a name">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquariumTasks[0].Description)
                <input type="text" id="myInput3" class="myInput" size="8" onkeyup="myFunction(3,'myInput3')" placeholder="" title="Type in a name">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquariumTasks[0].State)
                <input type="text" id="myInput4" class="myInput" size="8" onkeyup="myFunction(4,'myInput4')" placeholder="" title="Type in a name">
            </th>
            <th>
                Aquarium
                <input type="text" id="myInput5" class="myInput" size="8" onkeyup="myFunction(5,'myInput5')" placeholder="" title="Type in a name">
            </th>
            <th>
                User
                <input type="text" id="myInput6" class="myInput" size="8" onkeyup="myFunction(6,'myInput6')" placeholder="" title="Type in a name">
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AquariumTasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration) min
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkAquarium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkAquariumUser)
            </td>
            <td>
                @if (Model.IsUserOrAdmin())
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> <b> |</b>
                }
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> <b>|</b>
                @if (Model.IsAdmin())
                {
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>

     
}
    </tbody>
</table>

<script>
function myFunction(index,input) {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById(input);
  filter = input.value.toUpperCase();
  table = document.getElementById("tasktable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[index];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>